@model IEnumerable<TalentAgency.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PLogedLayout.cshtml";
}
@if(ViewBag.msg != "")
{
    <script> alert("@ViewBag.msg") </script>
}
<h1>Manage Events</h1>

<p>
    <a asp-action="Create">Create New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Event_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Event_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Event_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
