@model TalentAgency.Models.Apply
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LogedLayout.cshtml";
}

<h1>Delete</h1>
<h1>Delete</h1>

<h3>Are you sure you want to cancel this applied?</h3>
<div>
    <h4>Apply</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Introduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_created)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Apply_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
