@model IEnumerable<TalentAgency.Models.Apply>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PLogedLayout.cshtml";
}

@if(ViewBag.msg != "")
{
    <script> alert("@ViewBag.msg") </script>
}

<h1>Manage Applicants</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action= "ShowProfile" asp-route-prof="@item.email">@Html.DisplayFor(modelItem => item.email)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_name)
            </td>
            <td>
               @if (item.Status == "Accepted")
                {
                    <td style="color:forestgreen">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                else if(item.Status == "Rejected")
                {
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                else
                {
                   <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td> 
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_created)
            </td>
            <td>
                <a asp-action="Accept" asp-route-id="@item.Apply_id">Accept</a> |
                <a asp-action="Reject" asp-route-id="@item.Apply_id">Reject</a> 
            </td>
        </tr>
}
    </tbody>
</table>
